section.gallery {
  width: 100%;
  max-width: 80rem;
  padding: 2.5rem 2rem;
  margin-inline: auto;

  & header {
    text-align: center;
  }

  & header span {
    font: 500 var(--text-sm)/1.5 var(--ff-base);
  }

  & img {
    width: 100%;
    height: auto;
  }

  & .content {
    margin-top: 2rem;
    display: grid;
    grid-template-areas:
      "A B B"
      "C C D";

    gap: 2.5rem;

  }

  & figure {
    position: relative;
    border-radius: 2.5rem;
    overflow: hidden;
    line-height: 0;

    animation: image-appear ease backwards;
    animation-timeline: view();
    animation-range: 150px 350px;

    &[data-delay] {
      animation-range: 220px 380px;
    }

    &>img {
      height: 25rem;
      object-fit: cover;
      transition: transform 500ms;
    }

    &:hover {
      &>img {
        transform: scale(1.1);
      }

      figcaption {
        transform: translateY(0);
      }
    }

    &:nth-child(1) {
      grid-area: A;
    }

    &:nth-child(2) {
      grid-area: B;
    }

    &:nth-child(3) {
      grid-area: C;
    }

    &:nth-child(4) {
      grid-area: D;
    }
  }

  & figcaption {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: .5rem;

    font: 500 var(--text-sm)/1.5 var(--ff-base);
    color: white;

    position: absolute;
    bottom: 0;
    width: 100%;

    padding: 1.5rem 2rem;

    transform: translateY(100%);
    transition: transform 500ms;

    background: linear-gradient(to top, rgb(0 0 0 / 0.64), rgb(0 0 0 / 0));

    &>img {
      width: 2rem;
      aspect-ratio: 1/1;
      object-fit: cover;
      border-radius: 50%;
    }
  }
}

@keyframes image-appear {
  from {
    opacity: 0;
    transform: translateY(100%);
  }
}