section.hero {
  max-width: 80rem;
  width: 100%;
  padding: 2.5rem 2rem;
  margin-inline: auto;

  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;

  & h1 {
    max-width: 40rem;
  }

  & h1 div {
    display: inline-block;
    overflow: hidden;
    height: 5rem;
    width: min-content;
    vertical-align: bottom;
  }

  & h1 span:nth-child(1),
  span:nth-child(4) {
    color: var(--snitap-sky-mid)
  }

  & h1 span:nth-child(2) {
    color: var(--snitap-joy-mid)
  }

  & h1 span:nth-child(3) {
    color: var(--snitap-leaf-mid)
  }

  & h1 span {
    /* border: 1px solid red; */
    display: block;

    animation: slideUp 6.5s 2s infinite ease;
  }

  /* buttons */
  & .buttons {
    display: flex;
    gap: 2rem;
    margin-top: 3rem;

    & .button {
      display: flex;
      align-items: center;
      gap: .75rem;

      border-radius: 5rem;

      transition: transform 350ms;

      &.buy {
        padding: 1.5rem 3rem;
        background-color: var(--snitap-sun);
      }

      &.play span {
        padding: 1.5rem;
        border-radius: 50%;
        background-color: white;
        display: flex;
      }

      &:hover {
        transform: scale(1.05);
      }
    }

    & .shadow {
      box-shadow:
        0 2px 5px rgb(0 0 0 / .1),
        0 9px 9px rgb(0 0 0 / .09),
        0 20px 12px rgb(0 0 0 / .05),
        0 36px 15px rgb(0 0 0 / .01);
    }
  }

  /* patins */
  &>div:nth-child(2) {
    display: block;
    width: 100%;
    max-width: 30.5rem;
    height: 30.5rem;

    & .content {
      width: 100%;
      height: 100%;
      position: relative;
    }

    & img {
      position: absolute;
      width: 100%;
    }

    & img[src*="ellipse"] {
      width: 94%;
      top: 3%;
      left: 3%;

      transform: translateX(200%);
      animation: slideIn 3s ease 200ms forwards;
    }

    & img[src*="patins"] {
      z-index: 1;

      transform: translateX(200%);
      animation: slideIn 3s ease forwards;
    }

    & img[src*="stars-1"] {
      max-width: 5.5rem;
      top: 30%;
      z-index: 0;

      opacity: 0;
      transform: translateX(400%);
      animation: slideIn 2s ease 800ms forwards, appear 100ms 800ms both;
    }

    & img[src*="stars-2"] {
      max-width: 2.5rem;
      right: 0;
      bottom: 35%;
      z-index: 0;

      transform: translateX(400%);
      animation: slideIn 2.2s ease 800ms forwards;
    }
  }
}

@keyframes appear {
  to {
    opacity: 1;
  }
}

@keyframes slideIn {
  50% {
    transform: translateX(-20px);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes slideUp {

  /* radical static */
  0%,
  22% {
    transform: translateY(0);
  }

  /* divertida in */
  23% {
    transform: translateY(calc(-5rem - 15px));
  }

  25% {
    transform: translateY(calc(-5rem + 10px));
  }

  27% {
    transform: translateY(calc(-5rem - 5px));
  }

  29% {
    transform: translateY(calc(-5rem + 5px));
  }

  /* divertida static */
  33%,
  55% {
    transform: translateY(-5rem);
  }

  /* saudavel in */
  56% {
    transform: translateY(calc(-10rem - 15px));
  }

  58% {
    transform: translateY(calc(-10rem + 10px));
  }

  60% {
    transform: translateY(calc(-10rem - 5px));
  }

  62% {
    transform: translateY(calc(-10rem + 5px));
  }

  /* saudavel static */
  66%,
  88% {
    transform: translateY(-10rem);
  }

  89% {
    transform: translateY(calc(-15rem - 15px));
  }

  91% {
    transform: translateY(calc(-15rem + 10px));
  }

  93% {
    transform: translateY(calc(-15rem - 5px));
  }

  95% {
    transform: translateY(calc(-15rem + 5px));
  }

  /* radical static */

  100% {
    transform: translateY(-15rem);
  }
}