* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font-family: 'Poppins', sans-serif;
  --text: 400 1rem/1.5 var(--font-family);
  --text-sm: 400 0.875rem/1.4 var(--font-family);

  --text-primary: #292524;
  --text-secondary: #57534E;
  --text-tertiary: #8F8881;
  --text-highlight: #E43A12;

  --surface-primary: #FFFFFF;
  --surface-secondary: #FEE7D6;
  --surface-disabled: #E7E5E4;

  --stroke-default: #D6D3D1;
  --stroke-highlight: #F3541C;
  --semantic-error: #DC2626;
}

body {
  overflow: hidden;

  font: var(--text);
  color: var(--text-secondary);
}

h1,
h2 {
  color: var(--text-primary)
}

img {
  max-width: 100%;
  height: 100%;
}

.flex {
  display: flex;
}

.flex-1 {
  flex: 1;
}

.flex-2 {
  flex: 2;
}