nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  line-height: 0;
  padding-block: 20px;
}

nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 24px;

  padding-block: 8px;
}

nav ul li:last-child img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
}