* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 140%;
}

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
  height: 6px;
  width: 6px;
}

*::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: transparent;
}

*::-webkit-scrollbar-track:hover {
  background-color: transparent;
}

*::-webkit-scrollbar-track:active {
  background-color: transparent;
}

*::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #DFDCDF;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #DFDCDF;
}

*::-webkit-scrollbar-thumb:active {
  background-color: #DFDCDF;
}

:root {
  font-family: "Oxygen", sans-serif;
  font-size: 1rem;

  --main-pink: rgba(214, 88, 179, 1);
  --main-green: rgba(69, 180, 66, 1);
  --base-white: rgba(255, 255, 255, 1);
  --gradient-primary: linear-gradient(90deg, #2daa6e 0%, #2daaaa 33%, #856ccf 67%, #d658b3 100%);
  --base-gray-100: rgba(244, 241, 242, 1);
  --base-gray-200: rgba(233, 231, 233, 1);
  --base-gray-300: rgba(223, 220, 223, 1);
  --base-gray-400: rgba(206, 202, 205, 1);
  --base-gray-500: rgba(117, 108, 113, 1);
  --base-gray-600: rgba(74, 68, 72, 1);
  --base-gray-700: rgba(51, 43, 49, 1);

  --title-text-sm: 1.25rem;
  --title-text-md: 1.5rem;
  --title-text-lg: 2rem;
  --body-text-md: 1rem;
  --body-text-xs: 0.75rem;
}

body {
  background-color: var(--base-gray-200);
  color: var(--base-gray-600);
}

.container {
  width: 100%;
  max-width: 912px;
  height: 100vh;

  margin: 0 auto;

  overflow: hidden;
}

.dashboard-wrapper {
  display: grid;
  grid-template-columns: 20rem 1fr 1fr;
  grid-template-areas:
    "user-card cuts-stamps cuts-stamps"
    "cuts-history cuts-stamps  cuts-stamps"
    "cuts-history cuts-remaining cuts-remaining"
  ;

  gap: 1rem;
  margin-top: 2rem;
}

@media (width <=57em) {
  .container {
    overflow: auto;
    display: flex;
    flex-direction: column;

    width: 100%;
  }

  .dashboard-wrapper {
    display: flex;
    flex-direction: column;

    padding-inline: 0.75rem;
    padding-bottom: 0.75rem;
    gap: 1rem;
    margin-top: 2rem;
  }
}