header {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    margin-top: 4rem;

    align-items: center;
    justify-content: center;

    width: 100%;
}

header img {
    width: 116px;
    height: 56px;
}

header input {
    appearance: none;
    outline: 1px solid var(--base-gray-400);
    background: var(--base-gray-300);
    border: 1px solid transparent;

    padding: 1rem;

    font-size: var(--body-text-md);
    color: var(--base-gray-500);

    width: 25rem;
    height: 3.5rem;

    border-radius: 0.75rem;
}