.user-card {
  grid-area: user-card;

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;

  padding: 1rem;
  background-color: var(--base-gray-100);

  border: 1px solid var(--base-gray-300);
  border-radius: 1rem;

  width: 100%;

  .user-image {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 60px;
    height: 60px;
    border-radius: 0.75rem;
    padding: 2px;
    background: var(--gradient-primary);

    & img {
      width: 100%;
      object-fit: cover;
      aspect-ratio: 1/1;

      border-radius: 0.625rem;
      border: 2px solid #FFF;
    }
  }

  .user-info {
    display: flex;
    flex-direction: column;

    & strong {
      font-size: var(--title-text-sm);
      color: var(--base-gray-600)
    }

    & span {
      font-size: var(--body-text-xs);
      color: var(--base-gray-500)
    }
  }
}