* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --brand-color-light: #60A5FA;
  --brand-color-dark: #1D4ED8;
  --bg-color: #0F172A;
  --stroke-color: #1E293B;
  --text-color-primary: #F1F5F9;
  --text-color-secondary: #CBD5E1;

  --font-family: 'Archivo', sans-serif;
  --h1: 800 24px/135% var(--font-family);
  --h2: 800 16px/140% var(--font-family);
  --h3: 800 14px/140% var(--font-family);
  --text-span: 600 14px/145% var(--font-family);
  --text: 600 16px/140% var(--font-family);
  --text-sm: 600 14px/160% var(--font-family);
  --paragraph: 400 16px/160% var(--font-family);
}

body {
  font: var(--text);
  color: var(--text-color-primary);
  background-color: var(--bg-color);
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: var(--brand-color-light)
}

h1, h2, h3 {
  font: inherit
}

img {
  max-width: 100%;
}

.container {
  max-width: 1280px;
  padding-inline: 32px;
  margin-inline: auto;
}

main {
  margin-top: 40px;
  row-gap: 80px;
  column-gap: 32px;

  grid-template-columns: 2fr 1.5fr;

  grid-template-areas: 
  "featured featured"
  "weekly weekly"
  "ai aside";
}

.content-tag {
  display: inline-block;
  background-color: var(--brand-color-dark);
  padding: 4px 8px;
  border-radius: 4px;
  font: 500 10px/1.2 var(--font-family);
  text-transform: uppercase;
  letter-spacing: 0.04em;
  color: var(--text-color-primary);
  box-shadow: 0px 4px 16px rgba(2, 6, 23, 0.251);
}