.grid {
  display: grid;
}

.grid-flow-col {
  grid-auto-flow: column;
}

.grid-cols-2 {
  grid-template-columns: repeat(2, 1fr);
}

.gap-16 {
  gap: 16px;
}

.gap-32 {
  gap: 32px;
}

.text-2xl {
  font: var(--h1);
}

.text-xl {
  font: var(--h2);
}

.text-lg {
  font: var(--h3);
}

.text-sm {
  font: var(--text-sm);
}